/* Reset some default browser styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Set a background color for the body */
body {
    background-color: #000000;
    font-family: Arial, sans-serif;
}

/* Style the navigation bar */
nav {
    background-color: #161111;
    color: ##ffffff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: ##ffffff;
    font-weight: bold;
}

/* Style the presentation card */
.presentation-card {
    background-color: #404040;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 20px auto;
    max-width: 400px;
}

.presentation-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 10px;
    display: block;
}

.card-content h2 {
    color: #bc62ea;
    font-size: 24px;
}

.card-content p {
    color: #fff;
    font-size: 16px;
}

/* Style the sections */
section {
    background-color: #16111130;
    padding: 30px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section h2 {
    color: #fff;
    font-size: 24px;
}

section h3 {
    color: #888888;
    font-size: 20px;
}

section p {
    color: #828282;
    font-size: 16px;
    line-height: 1.5;
}

/* Style the footer */
footer {
    text-align: center;
    background-color: #161111;
    color: ##ffffff;
    padding: 10px 0;
}
